.cart-cont {
    background-color: #e5e7eb;
    max-width: 1300px;
    margin: 0 auto;
}
.cart-p-top {
    width: auto;
    height: 8rem;
}
.cart-table {
    background-color: #fff !important;
}
.cart-table tbody tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5e7eb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cart-table tbody tr + tr {
    margin-top: 1rem;
    background-color: #e5e7eb;
}
.cart-table tbody td img {
    height: 100px;
}
.buttons-td > * + * {
    margin-left: 0.5rem;
}
/* Removing border from each td */
.cart-table :not(caption) {
    border-bottom: none;
}
