.cart-table {
    background-color: #fff !important;
}
.cart-table :not(caption) {
    border-bottom: none;
}
.cart-cont {
    background-color: #e5e7eb;
    max-width: 1300px;
    margin-top: 6rem !important;
    margin: 0 auto;
}

.cart-cont tbody tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-cont tbody td img {
    height: 100px;
}

.cart-cont tbody tr {
    background-color: #e5e7eb;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.cart-cont tbody tr + tr {
    /* border-top: 1px solid #333; */
    margin-top: 1rem;
    background-color: #e5e7eb;
}

.buttons-td > * + * {
    margin-left: 0.5rem;
}
