.nav-container {
    width: 100%;
    background-color: #e5e7eb;
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav-inner {
    max-width: 1300px;
    padding-inline: 15px;
    margin: 0 auto;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.75rem;
}
.bottom .logo {
    width: 3rem; /*200px*/
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-text h1 {
    font-weight: 600;
}
.logo-text:hover {
    color: inherit;
}
.logo-text span {
    font-style: italic;
    color: #0284c7;
}
.bottom-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* Bottom nav Buttons */
.buttons a {
    padding: 0.55rem 1.2rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.buttons a + a {
    margin-left: 1.25rem;
}
/* styling the nav profile */
.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.profile-dropdown {
    position: relative;
}

.profile-submenu {
    display: none;
    /*positioning*/
    position: absolute;
    z-index: 100;
    width: 200px;
    top: 100%;
    left: -180%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.profile-submenu li + li {
    margin-top: 10px;
}
.profile:hover .profile-submenu {
    display: block;
}
.profileHide {
    display: none;
}
.buttonsHide {
    display: none;
}

/* line to the left of cart */
.bottom-right-line {
    height: 30px;
    width: 2px;
    background-color: #a8a29e;
}

/* nav cart */
.cart {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: relative;
}

.cart-logo {
    font-size: 1.25rem;
}

.cart-count {
    position: absolute;
    top: -5px;
    left: 21%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #0284c7;
    color: #f1f5f9;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .bottom-right {
        gap: 0.75rem;
    }
    .logo-text h1 {
        display: none;
    }
    .buttons a + a {
        margin-left: 0.75rem;
    }
    .buttons a {
        padding: 0.35rem 1rem;
    }
}

/* making profile toggle */
